html {
    --bgcolor: #DB2B39;
    --color: #ffffff;
    --color2: #177E89;
    --buttoncolor: #FFA630;
    --textareacolor: #177E89;
    --textbordercolor: #14CC60;
    --fonttype: Arial;
    --fontsize: 50px;
    
}